##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Derby
##############################
*.log

##############################
## MacOS
##############################
.DS_Store
